<header style="background-color: rgb(200, 200, 200); padding: 15px;">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <a class="text-decoration-none">
        <h3 class="fs-4 text-dark">Ludoteca</h3>
      </a>

      <nav class="nav d-flex align-items-center">
        <a routerLink="alquileres" class="nav-link text-dark mx-2">Alquileres</a>
        <a routerLink="usuarios" class="nav-link text-dark mx-2">Usuarios</a>
        <a routerLink="juegos" class="nav-link text-dark mx-2">Juegos</a>
      </nav>
    </div>
  </div>
</header>
