<div class="container mb-3">
    <div class="d-flex justify-content-between align-items-center  p-3">
      <div class="d-flex flex-column">
        <div class="p-2">
          <a routerLink="listado-juegos" class="btn btn-secondary text-white">Listado de juegos</a>
        </div>
        <div class="p-2">
          <a routerLink="new-juego" class="btn btn-secondary text-white">Nuevo juego</a>
        </div>
      </div>
      <div class="p-2 flex-fill">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  